*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: black;

}
.container{
    width: 1160px;
    margin: auto;
}
.container .row{
    color: rgb(255, 255, 255);
    display: flex;
}

.second .row{
    color: blue;
}